@charset "UTF-8";


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul, ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h2 {
  margin: 10px;
  padding: 10px;
}
/* p{
  margin: 30px;
  padding: 30px;
  
} */
body {
  margin: 0px;
  font-family: "Montserrat";
  color: #fff;
  background: #141414;
}

main {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1vw;
  overflow-x: hidden;
  scrollbar-color: red darkgrey;
}


.logo {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  padding: 3vw 4vw;
  background: rgba(255, 255, 255, 0.02);
}
.logo svg {
  display: block;
  position: relative;
  width: 10vw;
}
.logo svg path {
  fill: #E50914;
}
/* Netflix carrasoul images code */
section {
  display: block;
  position: relative;
  width:230%;
  top: 1vw;
  left: 10vw;
  
  margin-left: -15vw;
  margin-bottom: 6vw;
}
section h2 {
  display: block;
  width: 100%;
  font-size: 2vw;
  font-weight: 600;
  margin-bottom: 0.8vw;
  /* margin-left: 4px; */
}
section ul {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  white-space: nowrap;
  font-size: 0;
}
section ul:hover li:not(.hover) {
  opacity: 0.3;
}
section ul li {
  display: inline-block;
  height: auto;
  padding: 2px;
  overflow: hidden;
  cursor: pointer;
}
section ul li .img {
  display: block;
  position: relative;
  width: 100%;
  height: 0px;
  padding-top: 56.25%;
  background-size: cover;
  transform-origin: top right;
}
section ul li .img:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 1;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  opacity: 0;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, #141414 100%);
  transition: all 0.5s ease 0.2s;
}
section ul li .img img {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 0;
}
section ul li .custom-card {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: auto;
  padding: 10px;
  text-shadow: 0 1px 1px rgba(20, 20, 20, 0.6);
  opacity: 0;
}
section ul li .custom-card h3 {
  display: block;
  width: 100%;
  font-size: 0.7vw;
  font-weight: 600;
  margin-bottom: 0.3vw;
}
section ul li .custom-card h5 {
  display: block;
  width: 100%;
  font-size: 0.4vw;
  font-weight: 600;
  margin-bottom: 0.3vw;
}
section ul li .custom-card .info {
  display: block;
  width: 100%;
  margin-bottom: 0.3vw;
  font-size: 0;
}
section ul li .custom-card .info .match {
  display: inline-block;
  width: auto;
  font-size: 0.5vw;
  font-weight: 600;
  margin-right: 0.4vw;
  color: #46D369;
}
section ul li .custom-card .info .age {
  display: inline-block;
  position: relative;
  width: auto;
  font-size: 0.5vw;
  padding: 0 0.4em;
  margin-right: 0.4vw;
  border: solid 1px rgba(255, 255, 255, 0.4);
}
section ul li .custom-card .info .dur {
  display: inline-block;
  width: auto;
  font-size: 0.5vw;
}
section ul li .custom-card .tags {
  display: block;
  width: 100%;
}
section ul li .custom-card .tags span {
  display: inline-block;
  width: auto;
  font-size: 0.5vw;
  margin: 0 0.3vw 0 0;
}
section ul li .custom-card .tags span:after {
  content: "â—";
  display: inline-block;
  margin: 0 0 0 0.3vw;
  font-size: 0.8 xvw;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.4);
}
section ul li .custom-card .tags span:last-child:after {
  display: none;
}
section ul li:hover .img:after {
  opacity: 1;
}
section ul li:hover img {
  opacity: 1;
}
section ul li:hover .custom-card {
  opacity: 1;
}
section ul li:first-child {
  transform-origin: 0px center;
}
section ul li:last-child {
  transform-origin: 100% center;
}

li, li * {
  transition: all 0.5s ease 0.2s;
}





header .container1{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
    
}

.addIcon {
  height: 10vw;
  min-height: 8.4rem;
  max-height: 20rem;
  width: 10vw;
  min-width: 8.4px;
  max-width: 20rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  margin-top: 4rem;
  margin-right: 3.5rem;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-section {
  
  width: 95vw;
  margin: auto;
  height: 3rem;
  background-color: rgb(20, 20, 20);
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo-section a img {
  width: 9rem;
  height: 3rem;
  cursor: pointer;
}


header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 12px;
}

header nav a:hover{
    color:#fff;
}

/*filme principal*/
.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25)100%), url('img/red2.gif');
      height: 400px; /*400px*/
    background-size:cover;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.descricao{
    text-align: justify;
  
}


@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-40px); }
    100% { transform: translateY(0); }
  }

.filme-principal .titulo{
    /*margin-top: 15%;*/    
    font-size: 35px;
    padding: 10px;
    margin-top: 10;
    margin-left: 10;
    /*font-family: 'Trebuchet MS', Arial, sans-serif;*/
  font-family: 'Anton', sans-serif;
  /* animation: bounce 0.9s ease;
  color: #B5B3A9ff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;*/
  
}


#pontos-turisticos, #culinaria{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    margin-left: 20px;
}

.botao{
    background-color: rgba(234, 20, 20, 0.5);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}

/* title and text box header size  */
.container1{
    margin-left: 50px;
}

.filme-principal .container1{
    width: 70%;
    left: 20%;
}

.box-filme{
  border-radius: 8px;
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrosel-filmes{
    margin-top:5px;
}

#citando-link{
    text-decoration: none;
    color: #fff;
    font-size: small;
}

footer {
    background-color: #141414;
    border-top: 1px solid #fff;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    padding-top: 25px;
    font-family: 'Anton', sans-serif;
    font-size: 16px;
    
}

footer a{
    text-decoration: none;
    color: #e50914;
    
}

footer a:hover{
    color: #fff;
}

footer p{
    margin-bottom: 10px;
}
.modal{
transform: none!important;
 
}
.modal-content{
  border-radius:10px;
  overflow: hidden;
}
.modal-dialog .modal-content .modal-header{
  padding:0px;
  position: relative;
  border-bottom:0px;
}
.modal-dialog .modal-content .modal-header .close{
  font-size: 20px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(0,0,0,0.5);
  border: 0px;
  color: white;
}
.modal-dialog .modal-content img{
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9), rgba(0,0,0,1));
  background: black;
   width: 100%;
  /* overflow-y: initial !important;
  */
  
}
/* .modal-img{
  width: 100%;
  overflow-y: initial !important;
 background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, #141414 100%); 
  
} */
.modal-body{
    height: 80vh;
    overflow-y: auto;
}
.modal-content{
  background-color:grey;
  padding:0px;
  border:0px;
}
.modal-content .modal-body{
  font-size: 15px;
  white-space: normal;
  /* background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9), rgba(0,0,0,1), url('https://cdn.glitch.global/7b731a03-c6d6-4857-9990-b647a7a607b1/Screenshot%202022-09-22%20at%2013.55.51.png?v=1663851641250')); */
  margin-top: -50px;
 background: #141414; 
 
}

/* .background-image{
  background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url('deforestation.png');
 
} */
.photo-grid{
  font-size: 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

img.rounded-corners {
  border-top-right-radius: 15px;
   border-top-left-radius: 15px;
}


.button-align{
 
  text-align:right;
margin-top:50px;
}

.photo-grid-color{
  background-color: #202020;
  
}

.container2{
  display: flex;
 
}

/* @import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  font-family:'Roboto';
  font-size: 10px;
  background-color: #131417;  
}
p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);

}
.container2 {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: left;
  justify-content: left;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color:#f34848;
}
.second div {
  background-color:#f47171;
}
.third div {
  background-color:#eda9a9;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
} */